* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%
}

body {
    font-size: 1.6em;
    /* default font of 16px */
    font-family: 'Verdana', 'Arial', sans-serif;
    line-height: 1.3;
    color: #cacaca;
    background: #37747c;
}

ul,
ol {
    list-style-type: none;
}

button {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

// Error Message
.error-message {
    color: #fff;
    background: #EB5757;
    border-bottom: 2px solid rgb(151, 91, 91);
    text-align: center;
    padding: 10px;
}

// Wrapper
.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

// Search Bar
.search {
    padding: 70px;

    h3 {
        color: #222222;
    }

    .area {
        width: 600px;
        height: 45px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;

        input {
            width: 100%;
            height: 100%;
            padding: 0 10px;
            border: none;
        }

        button {
            color: #fff;
            background: #063940;
            height: 100%;
            width: 120px;
        }
    }
}

// Card Profile
.card {
    position: relative;
    width: 420px;
    height: 520px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;

    .banner {
        width: 100%;
        height: 180px;
        background: #063940;
        padding: 20px;

        a {
            color: #fff;

            svg {
                font-size: 25px;
            }
        }
    }

    .user {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .image {
            width: 170px;
            height: 170px;
            border-radius: 100%;
            background: #fff;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 160px;
                height: 160px;
                border-radius: 100%;
            }
        }

        h3 {
            font-size: 2.4rem;
            color: #000;
            margin-top: 15px;
        }

        span.username {
            color: #4C4C4C;
            font-size: 1.4rem;
        }

        p.bio {
            color: #4C4C4C;
            font-size: 1.4rem;
            text-align: center;
            margin: 30px 0;
        }

        ul {
            display: flex;

            li {
                margin: 0 10px;
            }

            span {
                display: flex;
                align-items: center;
                color: #4C4C4C;
                font-weight: bold;
                font-size: 1.4rem;

                span {
                    font-weight: normal;
                    margin-left: 5px;
                }
            }

        }
    }
}

.slide {
    width: 400px;
    height: 520px;
    background: #fff;
    overflow: hidden;
    border-radius: 10px;

    .title {
        padding: 15px 0;
        background: #063940;
        border-bottom: 1px solid #dbdbdb;

        h1 {
            color: #fff;
            font-size: 1.4rem;
            font-weight: normal;
            text-align: center;
        }
    }

    .list-users {
        height: 100%;
        overflow: auto;

        .user {
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #dbdbdb;

            .user-content {
                display: flex;
                align-items: center;
                gap: 10px;

                .image img {
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                }

                .name {
                    h2 {
                        color: #000;
                        font-size: 1.8rem;
                    }

                    span {
                        color: #4C4C4C;
                        font-size: 1.4rem;
                    }
                }
            }

            a {
             color: #4C4C4C;   
            }


        }
    }

}